@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

blockquote[xml|lang]{
	font-style: italic;
}

blockquote[xml|lang] i{
	font-style: normal;
}

abbr.acronym{
	font-variant: all-small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:recipient"] + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: initial;
}

[epub|type~="z3998:letter"] [epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i9{
	text-indent: -1em;
	padding-left: 10em;
}

p span.i11{
	text-indent: -1em;
	padding-left: 12em;
}

p span.i12{
	text-indent: -1em;
	padding-left: 13em;
}

p span.i13{
	text-indent: -1em;
	padding-left: 14em;
}

p span.i15{
	text-indent: -1em;
	padding-left: 16em;
}

p span.i17{
	text-indent: -1em;
	padding-left: 18em;
}

/* chapter specific styling */
#introduction ol ol{
	list-style-type: lower-roman;
}

#chapter-4 blockquote:nth-of-type(2),
#chapter-5 blockquote:nth-of-type(2),
#chapter-10 blockquote,
#chapter-12 blockquote:nth-of-type(2){
	text-align: center;
}
